In [1]:
import pandas as pd
import numpy as np
import networkx as nx

In [2]:
raw_reference = pd.read_csv(
	'./scats_reference.csv',
	dtype={
		'Site_Number': np.int32,
		'Location_Descriptors': str,
		'Site_Type': str
	}
)
raw_reference = raw_reference[raw_reference.Site_Type == 'INT']
raw_reference = raw_reference.rename(columns={'Site_Number': 'SCATS_Number'})
raw_reference = raw_reference.drop_duplicates()
raw_reference

      SCATS_Number           Location_Description Site_Type
0              964  ABBOTTS/CLELANDS DEVELOPMENTS       INT
1              968           ABBOTTS/GAINE/MONASH       INT
2              972               ABBOTTS/NATIONAL       INT
3              983              ABBOTTS/REMINGTON       INT
4             1053             ABBOTTSFORD/HAINES       INT
...            ...                            ...       ...
4506          6075             WYNDHAM ST/VAUGHAN       INT
4507          4107              YAN YEAN/IRONBARK       INT
4509          5048            YARRA/EASTERN BEACH       INT
4510          5081                 YARRA/LT MALOP       INT
4511          4897                   YORK/FERRARS       INT

[2633 rows x 3 columns]

In [3]:
raw_data = pd.read_csv(
	'./scats_data.csv',
	dtype={
		'SCATS_number': np.int32,
		'Location': str,
		'NB_LATITUDE': np.float32,
		'NB_LONGITUDE': np.float32
	}
)
raw_data = raw_data.drop_duplicates()
raw_data

      SCATS_Number                         Location  NB_LATITUDE  NB_LONGITUDE
0              970  WARRIGAL_RD N of HIGH STREET_RD   -37.867031    145.091583
31             970  HIGH STREET_RD E of WARRIGAL_RD   -37.867352    145.091949
62             970  WARRIGAL_RD S of HIGH STREET_RD   -37.867599    145.091461
93             970  HIGH STREET_RD W of WARRIGAL_RD   -37.867229    145.091034
123           2000       WARRIGAL_RD N of TOORAK_RD   -37.851685    145.094345
...            ...                              ...          ...           ...
4042          4812          SWAN_ST SW of MADDEN_GV   -37.829029    145.014557
4068          4821       WALMER_ST N OF VICTORIA_ST   -37.812851    145.008484
4099          4821      VICTORIA_ST E OF BURNLEY_ST   -37.812931    145.008652
4130          4821      BURNLEY_ST S OF VICTORIA_ST   -37.813122    145.008438
4161          4821      VICTORIA_ST W OF BURNLEY_ST   -37.812962    145.008301

[140 rows x 4 columns]

In [4]:
ref_df = raw_reference.drop(columns={'Site_Type'})
data_df = raw_data.drop(columns={'Location'})
# Perform an inner merge to keep only SCATS numbers present in both tables
merged_df = pd.merge(ref_df, data_df, on='SCATS_Number', how='inner')
merged_df.to_csv('./merged_data.csv')
merged_df

     SCATS_Number Location_Description  NB_LATITUDE  NB_LONGITUDE
0            4057       BALWYN/BELMORE   -37.804310    145.081970
1            4057       BALWYN/BELMORE   -37.805080    145.082458
2            4057       BALWYN/BELMORE   -37.805641    145.081711
3            4057       BALWYN/BELMORE   -37.804871    145.080917
4            3001  BARKERS/CHURCH/HIGH   -37.814411    145.022430
..            ...                  ...          ...           ...
135          3682  WARRIGAL/RIVERSDALE   -37.837410    145.096252
136          4063    WHITEHORSE/BALWYN   -37.814041    145.080093
137          4063    WHITEHORSE/BALWYN   -37.814400    145.080444
138          4063    WHITEHORSE/BALWYN   -37.814758    145.079956
139          4063    WHITEHORSE/BALWYN   -37.814289    145.079514

[140 rows x 4 columns]

In [5]:
def create_network_graph(_df: pd.DataFrame):

	# Initialize an undirected graph
	nodegraph = nx.Graph()

	# Add nodes (SCATS sites) with location description, latitude, and longitude
	for _, row in _df.iterrows():
		scats_num = row['SCATS_Number']
		location = row['Location_Description']
		latitude = row['NB_LATITUDE']
		longitude = row['NB_LONGITUDE']
		nodegraph.add_node(scats_num, location=location, latitude=latitude, longitude=longitude)

	# Parse streets and create edges between intersections sharing a street
	street_to_nodes = {}

	for _, row in _df.iterrows():
		scats_num = row['SCATS_Number']
		# Split the location description by '/' to get individual streets
		streets = row['Location_Description'].split('/')
		# Clean and process each street name
		streets = [street.strip() for street in streets]

		# Associate each street with the SCATS number
		for street in streets:
			if street:
				if street not in street_to_nodes:
					street_to_nodes[street] = []
				street_to_nodes[street].append(scats_num)

	# Create edges between SCATS sites that share a street
	for street, nodes in street_to_nodes.items():
		# If multiple intersections share a street, connect them
		for i in range(len(nodes)):
			for j in range(i + 1, len(nodes)):
				nodegraph.add_edge(nodes[i], nodes[j], street=street)

	# There is a non-zero chance that this ignores distance

	return nodegraph

networkgraph = create_network_graph(merged_df)

# Print basic graph info
print(f'Number of nodes (intersections): {networkgraph.number_of_nodes()}')
print(f'Number of edges (street connections): {networkgraph.number_of_edges()}')

# List all nodes and their attributes
for node, attrs in networkgraph.nodes(data=True):
	print(f'Node {node}: Location = {attrs['location']}, Lat = {attrs['latitude']}, Lon = {attrs['longitude']}')

# List all edges and their street
for u, v, attrs in networkgraph.edges(data=True):
	print(f'Edge {u} -- {v}: Street = {attrs['street']}')

# Save the graph to a file
#nx.write_graphml(G, 'scats_graph.graphml')

Number of nodes (intersections): 40
Number of edges (street connections): 133
Node 4057: Location = BALWYN/BELMORE, Lat = -37.80487060546875, Lon = 145.08091735839844
Node 3001: Location = BARKERS/CHURCH/HIGH, Lat = -37.814571380615234, Lon = 145.0216064453125
Node 3002: Location = BARKERS/DENMARK/POWER, Lat = -37.815101623535156, Lon = 145.0260772705078
Node 4035: Location = BURKE/BARKERS/MONT ALBERT, Lat = -37.81880187988281, Lon = 145.05738830566406
Node 4032: Location = BURKE/BELMORE/HARP, Lat = -37.802249908447266, Lon = 145.06080627441406
Node 4040: Location = BURKE/CAMBERWELL/RIVERSDALE, Lat = -37.83253860473633, Lon = 145.05506896972656
Node 3120: Location = BURKE/CANTERBURY, Lat = -37.82284164428711, Lon = 145.0568389892578
Node 4034: Location = BURKE/COTHAM/WHITEHORSE, Lat = -37.81184005737305, Lon = 145.0590057373047
Node 4030: Location = BURKE/DONCASTER/KILBY/HIGH, Lat = -37.794708251953125, Lon = 145.0612030029297
Node 4043: Location = BURKE/TOORAK, Lat = -37.84714126586914, Lon = 145.0520477294922
Node 2000: Location = BURWOOD HWY/WARRIGAL, Lat = -37.851871490478516, Lon = 145.0940704345703
Node 4266: Location = BURWOOD/AUBURN, Lat = -37.82518005371094, Lon = 145.0430145263672
Node 4262: Location = BURWOOD/CHURCH, Lat = -37.82154846191406, Lon = 145.01502990722656
Node 4264: Location = BURWOOD/GLENFERRIE, Lat = -37.82405090332031, Lon = 145.0334930419922
Node 4263: Location = BURWOOD/POWER, Lat = -37.82294845581055, Lon = 145.02401733398438
Node 3812: Location = CAMBERWELL/SEYMOUR/TRAFALGAR, Lat = -37.837249755859375, Lon = 145.060546875
Node 3127: Location = CANTERBURY/BALWYN, Lat = -37.82527160644531, Lon = 145.07757568359375
Node 3122: Location = CANTERBURY/STANHOPE, Lat = -37.82373809814453, Lon = 145.0641632080078
Node 3126: Location = CANTERBURY/WARRIGAL, Lat = -37.827720642089844, Lon = 145.09829711914062
Node 2820: Location = CHANDLER HWY/PRINCESS ST, Lat = -37.7947998046875, Lon = 145.0301513671875
Node 4324: Location = COTHAM/GLENFERRIE, Lat = -37.80917739868164, Lon = 145.0364532470703
Node 3180: Location = DONCASTER/BALWYN, Lat = -37.796180725097656, Lon = 145.08328247070312
Node 4051: Location = DONCASTER/BULLEEN/SEVERN, Lat = -37.79405975341797, Lon = 145.06884765625
Node 2827: Location = EASTERN FWY/BULLEEN/THOMPSONS, Lat = -37.78126907348633, Lon = 145.07687377929688
Node 2825: Location = EASTERN/BURKE ON RAMP, Lat = -37.7866096496582, Lon = 145.06202697753906
Node 4270: Location = GLENFERRIE/RIVERSDALE, Lat = -37.83015060424805, Lon = 145.03207397460938
Node 4335: Location = HIGH/CHARLES, Lat = -37.806190490722656, Lon = 145.0353240966797
Node 3662: Location = HIGH/DENMARK/PRINCESS/S'PARK, Lat = -37.808921813964844, Lon = 145.02703857421875
Node 4321: Location = HIGH/HARP/VALERIE, Lat = -37.800628662109375, Lon = 145.04864501953125
Node 2200: Location = MAROONDAH/UNION, Lat = -37.81647872924805, Lon = 145.0977325439453
Node 2846: Location = MONASH/HIGH/WILLS, Lat = -37.86088180541992, Lon = 145.05743408203125
Node 4272: Location = RIVERSDALE/TOORONGA, Lat = -37.8317985534668, Lon = 145.046142578125
Node 3804: Location = RIVERSDALE/TRAFALGAR, Lat = -37.8336181640625, Lon = 145.06202697753906
Node 4812: Location = SWAN/MADDEN, Lat = -37.82902908325195, Lon = 145.01455688476562
Node 4273: Location = TOORAK/TOORONGA, Lat = -37.846858978271484, Lon = 145.04507446289062
Node 4821: Location = VICTORIA/BURNLEY/WALMER, Lat = -37.81296157836914, Lon = 145.00830078125
Node 970: Location = WARRIGAL/HIGH ST RD, Lat = -37.86722946166992, Lon = 145.09103393554688
Node 3685: Location = WARRIGAL/HIGHBURY, Lat = -37.85512924194336, Lon = 145.09376525878906
Node 3682: Location = WARRIGAL/RIVERSDALE, Lat = -37.83740997314453, Lon = 145.09625244140625
Node 4063: Location = WHITEHORSE/BALWYN, Lat = -37.81428909301758, Lon = 145.0795135498047
Edge 4057 -- 4057: Street = BELMORE
Edge 4057 -- 3127: Street = BALWYN
Edge 4057 -- 3180: Street = BALWYN
Edge 4057 -- 4063: Street = BALWYN
Edge 4057 -- 4032: Street = BELMORE
Edge 3001 -- 3001: Street = HIGH
Edge 3001 -- 3002: Street = BARKERS
Edge 3001 -- 4035: Street = BARKERS
Edge 3001 -- 4262: Street = CHURCH
Edge 3001 -- 4030: Street = HIGH
Edge 3001 -- 4335: Street = HIGH
Edge 3001 -- 3662: Street = HIGH
Edge 3001 -- 4321: Street = HIGH
Edge 3001 -- 2846: Street = HIGH
Edge 3002 -- 3002: Street = POWER
Edge 3002 -- 4035: Street = BARKERS
Edge 3002 -- 3662: Street = DENMARK
Edge 3002 -- 4263: Street = POWER
Edge 4035 -- 4035: Street = MONT ALBERT
Edge 4035 -- 4032: Street = BURKE
Edge 4035 -- 4040: Street = BURKE
Edge 4035 -- 3120: Street = BURKE
Edge 4035 -- 4034: Street = BURKE
Edge 4035 -- 4030: Street = BURKE
Edge 4035 -- 4043: Street = BURKE
Edge 4032 -- 4032: Street = HARP
Edge 4032 -- 4040: Street = BURKE
Edge 4032 -- 3120: Street = BURKE
Edge 4032 -- 4034: Street = BURKE
Edge 4032 -- 4030: Street = BURKE
Edge 4032 -- 4043: Street = BURKE
Edge 4032 -- 4321: Street = HARP
Edge 4040 -- 4040: Street = RIVERSDALE
Edge 4040 -- 3120: Street = BURKE
Edge 4040 -- 4034: Street = BURKE
Edge 4040 -- 4030: Street = BURKE
Edge 4040 -- 4043: Street = BURKE
Edge 4040 -- 3812: Street = CAMBERWELL
Edge 4040 -- 4270: Street = RIVERSDALE
Edge 4040 -- 4272: Street = RIVERSDALE
Edge 4040 -- 3804: Street = RIVERSDALE
Edge 4040 -- 3682: Street = RIVERSDALE
Edge 3120 -- 3120: Street = CANTERBURY
Edge 3120 -- 4034: Street = BURKE
Edge 3120 -- 4030: Street = BURKE
Edge 3120 -- 4043: Street = BURKE
Edge 3120 -- 3127: Street = CANTERBURY
Edge 3120 -- 3122: Street = CANTERBURY
Edge 3120 -- 3126: Street = CANTERBURY
Edge 4034 -- 4034: Street = WHITEHORSE
Edge 4034 -- 4030: Street = BURKE
Edge 4034 -- 4043: Street = BURKE
Edge 4034 -- 4324: Street = COTHAM
Edge 4034 -- 4063: Street = WHITEHORSE
Edge 4030 -- 4030: Street = KILBY
Edge 4030 -- 4335: Street = HIGH
Edge 4030 -- 3662: Street = HIGH
Edge 4030 -- 4321: Street = HIGH
Edge 4030 -- 2846: Street = HIGH
Edge 4030 -- 4043: Street = BURKE
Edge 4030 -- 3180: Street = DONCASTER
Edge 4030 -- 4051: Street = DONCASTER
Edge 4043 -- 4043: Street = TOORAK
Edge 4043 -- 4273: Street = TOORAK
Edge 2000 -- 2000: Street = WARRIGAL
Edge 2000 -- 3126: Street = WARRIGAL
Edge 2000 -- 970: Street = WARRIGAL
Edge 2000 -- 3685: Street = WARRIGAL
Edge 2000 -- 3682: Street = WARRIGAL
Edge 4266 -- 4266: Street = AUBURN
Edge 4266 -- 4262: Street = BURWOOD
Edge 4266 -- 4264: Street = BURWOOD
Edge 4266 -- 4263: Street = BURWOOD
Edge 4262 -- 4264: Street = BURWOOD
Edge 4262 -- 4263: Street = BURWOOD
Edge 4264 -- 4264: Street = GLENFERRIE
Edge 4264 -- 4263: Street = BURWOOD
Edge 4264 -- 4324: Street = GLENFERRIE
Edge 4264 -- 4270: Street = GLENFERRIE
Edge 4263 -- 4263: Street = BURWOOD
Edge 3812 -- 3812: Street = TRAFALGAR
Edge 3812 -- 3804: Street = TRAFALGAR
Edge 3127 -- 3127: Street = CANTERBURY
Edge 3127 -- 3180: Street = BALWYN
Edge 3127 -- 4063: Street = BALWYN
Edge 3127 -- 3122: Street = CANTERBURY
Edge 3127 -- 3126: Street = CANTERBURY
Edge 3122 -- 3122: Street = STANHOPE
Edge 3122 -- 3126: Street = CANTERBURY
Edge 3126 -- 3126: Street = WARRIGAL
Edge 3126 -- 970: Street = WARRIGAL
Edge 3126 -- 3685: Street = WARRIGAL
Edge 3126 -- 3682: Street = WARRIGAL
Edge 2820 -- 2820: Street = PRINCESS ST
Edge 4324 -- 4324: Street = GLENFERRIE
Edge 4324 -- 4270: Street = GLENFERRIE
Edge 3180 -- 3180: Street = DONCASTER
Edge 3180 -- 4063: Street = BALWYN
Edge 3180 -- 4051: Street = DONCASTER
Edge 4051 -- 4051: Street = SEVERN
Edge 4051 -- 2827: Street = BULLEEN
Edge 2827 -- 2827: Street = THOMPSONS
Edge 4270 -- 4270: Street = GLENFERRIE
Edge 4270 -- 4272: Street = RIVERSDALE
Edge 4270 -- 3804: Street = RIVERSDALE
Edge 4270 -- 3682: Street = RIVERSDALE
Edge 4335 -- 4335: Street = CHARLES
Edge 4335 -- 3662: Street = HIGH
Edge 4335 -- 4321: Street = HIGH
Edge 4335 -- 2846: Street = HIGH
Edge 3662 -- 3662: Street = S'PARK
Edge 3662 -- 4321: Street = HIGH
Edge 3662 -- 2846: Street = HIGH
Edge 4321 -- 4321: Street = VALERIE
Edge 4321 -- 2846: Street = HIGH
Edge 2200 -- 2200: Street = UNION
Edge 2846 -- 2846: Street = WILLS
Edge 4272 -- 4272: Street = TOORONGA
Edge 4272 -- 3804: Street = RIVERSDALE
Edge 4272 -- 3682: Street = RIVERSDALE
Edge 4272 -- 4273: Street = TOORONGA
Edge 3804 -- 3804: Street = TRAFALGAR
Edge 3804 -- 3682: Street = RIVERSDALE
Edge 4812 -- 4812: Street = MADDEN
Edge 4273 -- 4273: Street = TOORONGA
Edge 4821 -- 4821: Street = WALMER
Edge 970 -- 970: Street = HIGH ST RD
Edge 970 -- 3685: Street = WARRIGAL
Edge 970 -- 3682: Street = WARRIGAL
Edge 3685 -- 3685: Street = HIGHBURY
Edge 3685 -- 3682: Street = WARRIGAL
Edge 3682 -- 3682: Street = WARRIGAL
Edge 4063 -- 4063: Street = WHITEHORSE

In [6]:
import search

method = search.select_method('AS')